html, body {
	font-size: 15px;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body {
	width: 800px;
	margin: 0 auto;
}

canvas {

}

.controls {
	text-align: right;
	color: #aaa;
}

a.knopka {
  text-align: right;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #808080; /* фон кнопки */
  padding: .6em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  filter: invert(1);
} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */
